/*
Theme Name: Wagstrap
Theme URI: http://wagmatic.com
Description:
Author: Dan Martin
Author URI: http://www.dan-martin.com/
Version: 1.0
Tags: responsive, tomato, bootstrap

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/

*/
@import url('/wp-content/themes/wagstrap/assets/css/bootstrap.css');
@import url('/wp-content/themes/wagstrap/assets/css/bootstrap-responsive.css');
@import url('/wp-content/themes/wagstrap/assets/css/font-awesome.min.css');
body {
}

.page-header-wrap, .header-wrap, .services {
	width:100%;
	text-align:center;
	margin:40px 0;
	color:#f3f0df;
}
.services, .legal {
	text-shadow: 0 1px 0 rgb(213, 66, 9);
}
.services {
	margin:0;
	background: url('/wp-content/themes/wagstrap/assets/img/frontheadbg4.png') fixed no-repeat center;
	background-size:cover;
}
.stripes {

	background: url('/wp-content/themes/wagstrap/assets/img/tiny7bg.png')repeat;
}
.container-fluid {
	padding:0;
}
.welcome-title {
	font-size:3.2em;
	margin-bottom:20px;
}
.welcome {
	border-top: 2px solid rgba(194, 82, 54,.9);
	border-bottom: 2px solid rgba(194, 82, 54,.9);
	width:100%;
	text-align:center;
	padding:60px 0;
	background: #f9f7f3 url('/wp-content/themes/wagstrap/assets/img/paperbg2.jpg') repeat ;
	background-size:cover;
}
.page-content {
	background: #f9f7f3 ;
	font-size:1.35em;
	line-height: 1.56em;
}
.welcome h1, .page-content h1 {
	font-family: "jaf-bernina-sans-comp",sans-serif;
	font-size:4.1em;
	line-height:1em;
	font-weight:800;
}
.welcome h2, .page-content h2 {
	font-family: "proxima-nova-extra-condensed",sans-serif;
	font-weight:400;
	color:#F15F4F;
}
.welcome h1 span{
	color:rgb(86, 154, 156);
	font-family: "goudy-bookletter-1911",serif;
}

.info-contain {
	display:block;
	max-width: 980px;
	margin: 0 auto;
	padding:20px;
}

.semi {
	background-color: rgba(255,255,255, 0.25);
	margin:15px auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow:    inset 0 0 8px #AAA;
	-webkit-box-shadow: inset 0 0 8px #AAA;
	box-shadow:         inset 0 0 8px #AAA;
}

.speech {
	text-align:left;
	padding: 0 10px 20px 10px;
	font-size:1.59em;
	line-height: 1.56em;
}
.ggray {
	color:rgb(116, 115, 115);
}
.lgr {
	font-size:1.85em;
	line-height: 1.55em;
}
.smr {
	font-size:1.2em;
	line-height: 1.55em;
}
footer {
	width: 100%;
	text-align: center;
	border-top: 2px solid rgba(194, 82, 54,1);
	padding-top: 70px;
	margin-bottom:0;
	background: #f9f7f3 url('/wp-content/themes/wagstrap/assets/img/paperbg2.jpg') repeat ;
	background-size:cover;
}
ul.social {
	list-style-type: none;
	margin: 60px 0;
}
ul.social li {
	text-align: center;
	display: inline-block;
	font-weight: 700;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: 4px;
	min-width:200px;
}
ul.social li.social-middle {
	padding: 0 80px;
}
.tagline {
	margin-top:20px;
	font-weight:400;
	font-size:1.7em;
}
.legal {
	border-top: 2px solid rgba(194, 82, 54,.6);
	background: #f1604f url('/wp-content/themes/wagstrap/assets/img/tiny5bg.png')repeat;
	text-align: center;
	padding: .8em;
	font-weight: 100;
	color:#f3f0df;
	font-size:1.1em;
}
.nav li {
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
	font-size: 1.2em;
	font-weight:300;
}
.brown {
	text-align: left;
	color: rgb(255, 234, 208);
	padding:0;
	margin:2px 10px;
	font-weight: 600;
	text-shadow:0 1px 0 rgba(179, 101, 71,.5);
}
.icon-wx {
	font-size:7em;
	color: rgb(243, 162, 146);
	text-shadow: 0 2px 1px rgba(78, 43, 30, 0.44);
}
.page-header-wrap {
	background: #f1604f url('/wp-content/themes/wagstrap/assets/img/frontheadbg3.jpg') fixed no-repeat center;
	background-size:cover;
	box-sizing:border-box;
	margin:0;
	padding:0;
	position:relative;
}
.header-wrap {
	padding:0;
	margin:0;
	background: #f1604f url('/wp-content/themes/wagstrap/assets/img/frontheadbg.jpg') fixed no-repeat center;
	background-size:cover;
	position:relative;
}
.header-wrap header, .page-header-wrap header{
	position:relative;
	display:block;
	min-height:330px;
	padding:110px 0 40px 0;
	box-sizing:border-box;
	background: url('/wp-content/themes/wagstrap/assets/img/tiny7bg.png')repeat;
}
.page-header-wrap header{
	min-height:180px;
}

header.page-title h1 {
	position:absolute;
	bottom:0px;
	left:15px;
	font-family: "jaf-bernina-sans-comp",sans-serif;
	font-size:7.1em;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.ssm {
	font-size: .85em;
	font-weight: 500;
}
.img {
	display:none;
}
.img {
	opacity:0;
	-moz-transition: opacity 4s; /* Firefox 4 */
	-webkit-transition: opacity 4s; /* Safari and Chrome */
	-o-transition: opacity 4s ;
	transition: opacity 4s ;

}
.grouppost-entry {
	margin-bottom:35px;
}
.grouppost-entry h1.entry-title{
	font-size:2.72em;
	margin-bottom:2px;
}
.sidebar {
	background:rgba(124, 158, 163, .25);
	padding:15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
header.page-title h1.single-title {
font-size: 4.5em;
margin-bottom: -3px;
left: 40px;
line-height:1.025em;
}
.grouppost-entry article, .single-post {
	margin-top:15px;
}
.authors {
width:100px;
height:100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border:solid 5px rgb(95, 142, 150);
	positon:relative;
}

.authors span {
	padding:2px 5px;
	background:rgba(50,50,50, .5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
	font-weight:500;
	text-shadow: 0 0 3px #000;
	position:relative;
	top:90px;
	left:10px;
	font-size: 1.1em;
}
/*
Dan Image
*/
.author-1 {
background: #ccc url('/wp-content/themes/wagstrap/assets/img/authors/dan.jpg');
}
