.header-wrap, .services {
	width:100%;
	text-align:center;
	padding:60px 0;
	margin:40px 0;
  	color:#f3f0df;
}
.services, .legal {
  text-shadow: 0 1px 0 rgb(213, 66, 9);
}
.container-fluid {
	padding:0;
}
.welcome-title {
	font-size:3.2em;
	margin-bottom:20px;
}
.welcome {
	width:100%;
	text-align:center;
	padding:60px 0;
	background: #f3f0df url(/wp-content/themes/wagstrap/assets/img/wel-bkg.png) repeat;
}

.info-contain {
	display:block;
	max-width: 980px;
	margin: 20px auto;
}
.speech {
	text-align:left;
	padding: 0 10px 20px 10px;
	font-size:1.45em;
	line-height: 1.55em;
}
.lgr {
	font-size:1.7em;
	line-height: 1.55em;
}
.smr {
	font-size:1.2em;
	line-height: 1.75em;
}
footer {
	width: 100%;
	text-align: center;
	background: #f3f0df url(/wp-content/themes/wagstrap/assets/img/wel-bkg.png) repeat;
	border-top: 1px solid #bcbcbc;
	padding-top: 70px;
}
ul.social {
list-style-type: none;
margin: 60px 0;
}
ul.social li {

display: inline;
font-family: "proxima-nova",sans-serif;
font-style: normal;
font-weight: 700;
font-size: 1.7em;
text-transform: uppercase;
letter-spacing: 4px;
}
ul.social li.social-middle {
padding: 0 80px;
}
.tagline {
	margin-top:20px;
	font-weight:400;
	font-size:1.7em;
}
.legal {
    background: #f1604f url(/wp-content/themes/wagstrap/assets/img/tiny5bg.png)repeat;
text-align: center;
padding: .8em .8em .4em .8em;
font-weight: 100;
color:#f3f0df;
	font-size:1.1em;
}
.nav li { text-shadow: 0 1px 0 rgb(136, 33, 0) }
.brown {
	text-align: left;
	color:rgb(255, 235, 210);
	padding:0;
	margin:2px 10px;
	font-weight: 600;
	text-shadow:0 1px 0 rgba(179, 101, 71,.5);
}
.icon-wx {
	font-size:7em;
	color: rgb(197, 66, 55);
}

.img {
opacity:0;
-moz-transition: opacity 4s; /* Firefox 4 */
-webkit-transition: opacity 4s; /* Safari and Chrome */
-o-transition: opacity 4s ;
transition: opacity 4s ;

}
